<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1" >
<head>
  <meta charset="UTF-8">
  <title>Form Patients</title>
  <link rel="stylesheet" href="webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="~{content1}">
    <div class="p-3">
    <form method="post" th:action="@{savePatient}">
      <div class="mb-3 mt-3">
        <Label for="nom" class="form-label">Nom</Label>
        <input id="nom" class="form-control" type="text" name="nom" placeholder="Nom" th:value="${patient.nom}">
        <span class="text-danger" th:errors="${patient.nom}" th:value="${patient.nom}"></span>
  </div>
      <div class="form-g">
        <Label>Date de naissance</Label>
        <input class="form-control" type="date" name="dateNaissance" th:value="${patient.dateNaissance}">
        <span class="text-danger" th:errors="${patient.dateNaissance}"></span>
      </div>
      <div class="mb-3">
        <Label class="form-check-label">Malade</Label>
        <input class="form-check-input" type="checkbox" name="malade" th:checked="${patient.malade}">

      </div>
      <div class="mb-3 mt-3">
        <Label for="score" class="form-label" >Score</Label>
        <input class="form-control" id="score" placeholder="Score" type="text" name="score" th:value="${patient.score}">
        <span class="text-danger" th:errors="${patient.score}" th:value="${patient.malade}"></span>
      </div>
      <button type="submit" class="btn btn-primary"> Save </button>

    </form>
</div>
</div>
</body>
</html>